.container
    .topnav
        a.active(href='/') Home
        a(href='/formulaire') Form
        a(href='/affichage') Listing
        a(href='/unParametre') Conclusion
 
//- Navigation Bar prise de 3wschool
   
   
   

